// Toggle switch
.theme-switch__input,
.theme-switch__label {
  position: absolute;
  z-index: 1;
}

.theme-switch__input {
  opacity: 0;

  &:hover,
  &:focus {
    + .theme-switch__label {
      background-color: lightSlateGray;
    }

    + .theme-switch__label span::after {
      background-color: lighten(lightBlue, 10%);
    }
  }
}

.theme-switch__label {
  padding: 20px;
  transition: background-color 200ms ease-in-out;
  width: 120px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  background-color: slateGray;
  box-shadow: -4px 4px 15px inset rgba(0, 0, 0, 0.4);
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;

  span {
    position: absolute;
    bottom: calc(100% + 10px);
    left: 0;
    width: 100%;
  }

  span::after {
    position: absolute;
    top: calc(100% + 15px);
    left: 5px;
    width: 40px;
    height: 40px;
    content: '';
    border-radius: 50%;
    background-color: lightBlue;
    transition: transform 200ms, background-color 200ms;
    box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.4);
  }
}

// Checked label styles
.theme-switch__input:checked ~ .theme-switch__label {
  background-color: lightSlateGray;

  &::before {
    color: lightSlateGray;
  }

  &::after {
    color: turquoise;
  }

  span::after {
    transform: translate3d(70px, 0, 0);
  }
}
