.wrapper {
  --height: 36px;
  position: relative;
  width: 74px;
  height: var(--height);
  border-radius: 5px;

  &,
  * {
    transition: 0.8s ease all;
  }
}

.switch-btn {
  position: absolute;
  width: 100%;
  height: 100%;

  input[type='checkbox'] {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    border-radius: 5px;
    z-index: 3;
  }

  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fcebeb;
    transition: 0.3s ease all !important;
    z-index: 1;
    border-radius: 5px;
    border: 1px solid #f44336;
  }
}

.knobs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;

  &::before {
    content: 'OFF';
    position: absolute;
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 28px;
    color: var(--light);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #f44336;
    border-radius: 2px;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) !important;
  }
}

input[type='checkbox'] {
  &:active + .knobs::before {
    width: 46px;
  }

  &:checked:active + .knobs::before {
    margin-left: -26px;
  }

  &:checked + .knobs::before {
    content: 'NO';
    left: 40px;
    background-color: #03a9f4;
  }

  &:checked ~ .layer {
    background-color: #ebf7fc;
    border: 1px solid #03a9f4;
  }
}

// Dark mode
.wrapper.dark {
  .layer {
    background-color: var(--dark);
  }

  input:checked ~ .layer {
    background-color: var(--dark);
  }
}
