@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  //color
  --blue: #5e50f9;
  --indigo: #6610f2;
  --purple: #6a008a;
  --pink: #e91e63;
  --red: #f96868;
  --orange: #f2a654;
  --yellow: #f6e84e;
  --green: #46c35f;
  --teal: #58d8a3;
  --cyan: #57c7d4;
  --white: #ffffff;
  --gray: #434a54;
  --gray-light: #aab2bd;
  --gray-lighter: #e8eff4;
  --gray-lightest: #e6e9ed;
  --gray-dark: #0f1531;
  --black: #000000;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --primary: #b66dff;
  --secondary: #c3bdbd;
  --success: #1bcfb4;
  --info: #198ae3;
  --warning: #fed713;
  --danger: #fe7c96;
  --light: #f8f9fa;
  --dark: #3e4b5b;
  --primary-rgb: 13, 110, 253;
  --secondary-rgb: 108, 117, 125;
  --success-rgb: 25, 135, 84;
  --info-rgb: 13, 202, 240;
  --warning-rgb: 255, 193, 7;
  --danger-rgb: 220, 53, 69;
  --light-rgb: 248, 249, 250;
  --dark-rgb: 33, 37, 41;
  --white-rgb: 255, 255, 255;
  --black-rgb: 0, 0, 0;
  --body-color-rgb: 52, 58, 64;
  --body-bg-rgb: 255, 255, 255;
  //background-color
  --bg-color: #f2edf3;
  --bg-color-rgb: 242, 237, 243;
  --bg-primary-gradient: linear-gradient(to right, #da8cff, #9a55ff) !important;
  //box-shadow
  --primary-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  --primary-box-shadow-hover: 0 0 35px 0 rgba(154, 161, 171, 0.4);
  --box-shadow-1: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --box-shadow-2: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  --box-shadow-3: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  // Dark theme
  --bg-color-dark-rgb: 21, 20, 25;
  --bg-color-dark: #151419;
  --bg-primary-gradient-dark: linear-gradient(to right, #da8cff, #9a55ff) !important;
  --bg-box-dark: #232227;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  color: var(--gray-dark);
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  text-rendering: optimizeSpeed;
}

// Srollbar
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.9);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background-color: rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}
