.overflow-hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.content-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* Wrapper */
.profile-wrapper {
  display: flex;
  width: 100%;
  background-color: var(--bg-color-dark);
}

/* Nav */
.side-bar {
  border-right: 1px solid rgba(var(--color-1-rgb), 0.2);
}

#header__nav {
  z-index: 1;
  width: 100%;
  /* background-color: var(--black-primary); */
}

.nav-list {
  /* display: flex; */
  list-style-type: none;
  font-weight: 500;
  font-size: 18px;
  min-width: 250px;
}

.nav-list__item:not(:first-child) {
  /* padding-left: 40px; */
}

.nav-list__item a {
  display: block;
  padding: 24px 32px;
  text-decoration: none;
  color: var(--white-primary);
}

.nav-list__item:hover a,
.nav-list__item.active a {
  color: #08aeea;
  text-decoration: underline;
  text-underline-offset: 8px;
  font-weight: 600;
}

.separate {
  flex: 1;
  height: 10px;
  /* background: rgb(8, 174, 234); */
  background: linear-gradient(221deg, rgba(8, 174, 234, 1) 0%, rgba(42, 245, 152, 1) 100%);
}

/* Main */
#home {
  height: 100%;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  /* grid-template-rows: 1fr; */
  gap: 0px 0px;

}

.home__greeting {
  /* flex: 2; */
  /* padding: 60px 0 40px 0; */
}

.home__greeting .first-greeting {
  font-size: 80px;
  font-weight: 800;
  color: transparent;
  background: var(--gradient_rt);
  -webkit-background-clip: text;
}

.home__greeting .second-greeting {
  color: var(--white-primary);
  font-size: 68px;
  font-weight: 800;
}

.home__greeting .third-greeting {
  color: var(--white-primary);
  font-size: 18px;
  padding: 24px 0;
}

.home__greeting .btn_greeting {
  /* padding: 40px 60px; */
  margin-top: 24px;
  margin-bottom: 100px;
  border-radius: 5px;
  border: 2px solid transparent;
  background: var(--color-1);
  transition: all ease-in-out 0.2s;
  box-shadow: rgba(8, 147, 234, 0.2) 10px 10px 2px 0px;
}

.home__greeting .btn_greeting:hover {
  /* padding: 40px 60px; */
  border: 2px solid var(--color-1);
  background: var(--black-primary);
  transform: translateX(15px);
  box-shadow: rgba(8, 147, 234, 0.8) 10px 10px 24px 0px;
}

.btn_greeting a {
  color: var(--white-primary);
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  padding: 12px 24px;
  display: block;
}

.blob {
  /* flex: 3; */
  z-index: 1;
}

.blob__back {
  position: absolute;
  width: 50%;
  top: 0%;
  left: 100%;
  transform: translate(-60%, 0%);
  z-index: -1;
}

.blob__three {
  position: absolute;
  top: calc(50%);
  left: calc(-50%);
  z-index: -1;
  width: 100%;
  opacity: 0.2;
}

/* About Me */

.aboutMe__heading {
  align-items: baseline;
  padding-bottom: 60px;
}

.separate.aboutMe__separate {
  border-top-left-radius: 200%;
  border-bottom-right-radius: 200%;
}

.aboutMe__title {
  font-size: 56px;
  font-weight: 700;
  padding-right: 24px;
  color: var(--white-secondary);
}

.aboutMe__title>span {
  color: transparent;
  background: var(--gradient_rt);
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

.aboutMe__avatar {
  min-width: 400px;
  min-height: 400px;
  max-width: 400px;
  max-height: 400px;
  margin: 0 40px 40px 0;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
}

.aboutMe__info ul {
  color: var(--white-primary);
  flex: 2;
  font-size: 18px;
  /* margin-left: 40px; */
}

.aboutMe__info .firstInfo__list li {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 12px;
  width: 100%;
  padding: 8px;
  margin-left: -8px;
  background-color: rgba(8, 174, 234, 0);
  transition: all 0.2s ease;
}

.aboutMe__info .firstInfo__list li:hover {
  background-color: rgba(8, 174, 234, 0.2);
}

.aboutMe__info .firstInfo__list li p:first-child {
  font-weight: 600;
  padding-right: 24px;
}

.edu__title {
  font-size: 18px;
  font-weight: 600;
  color: var(--white-primary);
}

.aboutMe__edu {
  border-left-width: 5px;
  border-left-style: solid;
  border-image: linear-gradient(to bottom, rgba(8, 174, 234, 1), rgba(0, 0, 0, 0)) 1 100%;
  margin-top: 24px;
}

.aboutMe__edu .edu-list {
  list-style-type: none;
}

.edu-list__item {
  padding: 12px;
  position: relative;
  transition: all 0.2s ease;
}

.edu-list__item p:nth-child(2) {
  font-size: 16px;
  color: var(--white-threeth);
}

.edu-list__item::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 500px;
  background-color: var(--color-1);
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  filter: brightness(100%);
  transition: all 0.2s ease;
}

.edu-list__item:hover {
  background-color: rgba(8, 174, 234, 0.2);
}

.edu-list__item:hover::before {
  filter: brightness(200%);
}

/* Project */
#project {
  margin-bottom: 100px;
}

.project_content {
  /* justify-content: space-evenly; */
  overflow-x: scroll;
}

.project__item {
  border-radius: 24px;
  width: 400px;
  height: 424px;
  /* margin: 4%; */
}

.project__item:not(:first-child) {
  margin-left: 40px;
}

.project__container.project__back::-webkit-scrollbar {
  width: 10px;
}

.project__container.project__back::-webkit-scrollbar-thumb {
  opacity: 50%;
  border-radius: 24px;
  background-image: var(--gradient_rt);
}

.project__container {
  background-color: #292d3e;
  width: 100%;
  perspective: 150rem;
  -moz-perspective: 150rem;
  transition: all 0.7s ease-in-out;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 24px;
}

.project__image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.project__info {
  color: var(--white-primary);
  padding: 30px 40px;
}

.project__tille {
  font-size: 24px;
  font-weight: 600;
}

.project__desc {
  font-size: 18px;
  margin-top: 10px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.scrollbar {
  overflow-y: scroll;
}

.project__item:hover .project__front {
  transform: rotateY(-180deg);
}

.project__item:hover .project__back {
  transform: rotateY(0deg);
}

.project__back.project__front {
  /* height: 450px; */
}

.project__container.project__back {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  padding: 30px 40px;
  transform: rotateY(180deg);
  overflow-y: scroll;
}

.project__container.project__back p {
  font-size: 24px;
  font-weight: 700;
  color: var(--white-primary);
}

.project__container.project__back p:not(:first-child) {
  margin-top: 24px;
}

.project__container.project__back ul {
  list-style-type: none;
  color: var(--white-primary);
  margin-top: 10px;
  gap: 10px;
}

.project__container.project__back ul li {
  color: var(--white-secondary);
  padding: 8px 12px;
  margin-top: 10px;
  border-radius: 8px;
  background-color: rgba(8, 174, 234, 0.5);
}

.project__btn {
  margin-top: 34px;
  border-radius: 8px;
  border: none;
  background-color: #292d3e;
}

.project__btn a {
  display: block;
  color: var(--white-secondary);
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 18px;
  text-decoration: none;
  padding: 12px 24px;
  background-color: var(--color-1);
  transition: all 0.2s ease-in-out;
}

.project__btn:hover a {
  border: 2px solid var(--color-1);
  background-color: #292d3e;
  transform: translateY(-10px);
}

/* Contact */
#contact {
  padding: 60px 0;
  justify-content: space-between;
}

.contact__img {
  width: 100px;
  height: 100px;
}

.contact__img img {
  border-radius: 500px;
  max-width: 100%;
  height: auto;
}

.contact__list {
  list-style-type: none;
}

#contact__title {
  font-size: 56px;
  font-weight: 700;
  color: var(--white-secondary);
}

#contact__title>span {
  color: transparent;
  background: var(--gradient_rt);
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

.contact__item {
  color: var(--white-secondary);
  margin-top: 12px;
  transition: all 0.3s ease-in-out;
}

.contact__icon {
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.contact__link {
  margin-left: 12px;
  color: var(--white-primary);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.contack__underline {
  position: absolute;
  width: 0;
  height: 2px;
  top: calc(100% + 4px);
  background-color: var(--white-secondary);
  border-radius: 24px;
}

@keyframes underline {
  0% {
    width: 0;
  }

  100% {
    background-color: var(--color-1);
    width: 100%;
  }
}

.contact__item:hover .contack__underline {
  animation: underline 0.5s ease-in-out forwards;
}

.contact__item:hover .contact__icon,
.contact__item:hover .contact__link {
  color: var(--color-1);
}

.copyright {
  padding-bottom: 60px;
}

.copyright__content {
  color: var(--white-secondary);
}
