.wrapper {
  display: flex;
  // background-color: orange;
  height: fit-content;
  // max-height: 10%;
  padding: 12px 18px;
  align-items: center;
  border-radius: 5px;
  background-color: var(--light);
  box-shadow: var(--primary-box-shadow);
  margin-bottom: 24px;
  transition: all 0.8s ease;
}

.status-tag {
  display: flex !important;
  align-items: center !important;
}

.status-icon {
  display: flex;
  padding-right: 4px;
  font-size: 1.6rem;
}

.title {
  display: flex;
  align-items: center;
  font-size: 2.4rem;

  .title-text {
    font-weight: 600;
    background: var(--bg-primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .title-icon {
    display: inline-flex;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 3px 8.3px 0.7px rgba(163, 93, 255, 0.35);
    box-shadow: 0px 3px 8.3px 0.7px rgba(163, 93, 255, 0.35);
    background: var(--bg-primary-gradient);
    margin-right: 12px;
  }

  .icon {
    color: #fff;
  }
}

.nav {
  display: flex;
  align-items: center;
  margin-left: auto;

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray);
    font-size: 1.8rem;
    padding: 8px 12px;
    border-radius: 5px;
    margin-bottom: 0;
    transition: all 0.2s ease;
    border: 1px solid transparent;
    cursor: pointer;

    &:not(:first-of-type) {
      margin-left: 8px;
    }

    &:hover {
      color: var(--primary);
      background-color: rgba(var(--bg-color-rgb), 0.5);
    }

    &.active {
      color: var(--purple);
      background-color: var(--bg-color);
      border: 1px solid rgba(var(--primary-rgb), 0.1);
    }
  }
}

.theme-wrapper {
  margin-left: 24px;
  --size: 36px;

  .theme-label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
  }

  .theme-input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
  }

  .theme-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
  }

  .toggle {
    position: absolute;
    display: block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: var(--gray-100);
    z-index: 1;
    transition: all 0.8s ease-in-out;
    box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.3), 1px -1px 8px 1px rgba(var(--primary-rgb), 0.4),
      1px 1px 8px 1px rgba(var(--danger-rgb), 0.4), -3px -3px 8px 1px rgba(var(--info-rgb), 0.4);
  }
}

.theme-icon {
  svg {
    display: flex;
    height: 18px;
    width: 18px;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
    transition: all 0.8s ease;
  }

  &.sun-icon svg {
    height: 22px;
    width: 22px;
    transform: rotate(360deg) scale(0);
    fill: var(--gray-400);
  }

  &.moon-icon svg {
    fill: var(--gray-900);
  }
}

input.theme-input:checked {
  ~ .toggle {
    transform: rotate(360deg);
    background-color: #2b2b2b;
  }

  ~ .moon-icon svg {
    transform: rotate(360deg) scale(0);
  }

  ~ .sun-icon svg {
    transform: rotate(0) scale(1);
    transition-delay: 0.5s;
  }
}

// Dark theme
.wrapper.dark {
  background-color: var(--bg-box-dark) !important;
  box-shadow: unset;

  .title-text {
    font-weight: 600;
    background: var(--bg-primary-gradient-dark);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .theme-wrapper {
    .toggle {
      box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.6), 3px -1px 8px 1px rgba(var(--warning-rgb), 0.7),
        1px 1px 8px 1px rgba(var(--danger-rgb), 0.5);
    }
  }

  .status-tag {
    background: transparent !important  ;
  }

  .nav {
    .nav-link {
      color: var(--gray-lighter) !important;

      &:hover {
        color: var(--primary) !important;
        background-color: rgba(var(--bg-color-dark-rgb), 0.5) !important;
      }

      &.active {
        color: var(--primary) !important;
        background-color: var(--bg-color-dark) !important;
        border: 1px solid rgba(var(--primary-rgb), 0.3) !important;
      }
    }
  }
}
