.wrapper {
  min-width: 200px;
  max-width: 300px;
  max-height: 300px;
  padding: 12px 0;
  border-radius: 5px;
  background-color: var(--light);
  box-shadow: var(--box-shadow-2);
  overflow-y: auto;
}
