.ctTable-wrapper {
  flex: 1;
  width: 100%;
  max-height: 100%;

  .ctTable-table {
    width: 100%;
    // height: 100%;
    border-radius: 5px;
    box-shadow: var(--primary-box-shadow);
    background-color: var(--light);
    max-height: 100%;
  }
}

.ctTable-table {
  .ant-table-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #597ef7;
    transition: all 0.5s ease;
  }

  .ctTable-header {
    width: 100%;
    padding: 0 8px;

    .ant-btn-icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .ctTable-search-icon {
      font-size: 1.8rem;
      color: var(--info);
    }

    .ctTable-header-title {
      font-size: 1.8rem;
      font-weight: 600;
      color: var(--white);
      margin-right: 12px;
      min-width: fit-content;
    }

    .csTable-filter-title {
      color: var(--white);
      font-size: 1.6rem;
      font-weight: 400;
    }
  }

  .ctTale-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .download-btn {
    display: flex;
    align-items: center;
  }

  .download-icon {
    display: flex;
    width: 18px;
    height: 18px;
  }
}

// Dark mode
.ctTable-wrapper.dark {
  .ant-table-title {
    background-color: var(--bg-box-dark);
  }

  .ctTable-header {
    color: var(--gray-lightest);
    .ctTable-search-btn {
      background-color: var(--primary) !important ;
      border-color: #9254de;
    }

    .ctTable-search-icon {
      color: var(--gray-lightest);
    }
  }

  .ant-select-dropdown {
    background-color: var(--bg-box-dark) !important;
  }

  .ctTable-table {
    background-color: var(--bg-box-dark);
    box-shadow: var(--bg-primary-gradient-dark);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--gray-700) !important;
  }
}

.ant-dropdown-menu {
  &:empty:after {
    color: var(--gray-light) !important;
  }
}

// Dropdown in table
.ctTable-dropdown-menu {
  // width: fit-content;
  .ant-dropdown-menu-item {
    display: flex;
    align-items: center;
    // padding: 12px 24px !important;
  }

  .ant-dropdown-menu-title-content {
    // font-size: 1.8rem !important;
    // font-weight: 500 !important;
    color: var(--gray) !important;
  }

  .ant-dropdown-menu-item-icon {
    color: var(--gray) !important;
    // height: 20px;
    // width: 20px;
  }

  .ant-dropdown-menu-item-active {
    background-color: rgba(var(--primary-rgb), 0.05) !important;
  }

  .ant-dropdown-menu-item-selected {
    background-color: rgba(var(--primary-rgb), 0.1) !important;

    .ant-dropdown-menu-item-icon,
    .ant-dropdown-menu-title-content {
      color: rgba(var(--primary-rgb), 1) !important;
    }
  }
}

// Dark theme

.ctTable-dropdown-menu.dark {
  .ant-dropdown-menu {
    border: 1px solid rgba(var(--purple-rgb), 0.1) !important;
    background-color: var(--gray) !important;
  }

  .ant-dropdown-menu-title-content {
    color: var(--gray-lighter) !important;
  }

  .ant-dropdown-menu-item-icon {
    color: var(--gray-lighter) !important;
  }

  .ant-dropdown-menu-item-active {
    background-color: var(--gray-800) !important;
  }

  .ant-dropdown-menu-item-selected {
    background-color: var(--gray-900) !important;

    .ant-dropdown-menu-item-icon,
    .ant-dropdown-menu-title-content {
      color: rgba(var(--primary-rgb), 1) !important;
    }
  }
}

.ant-table-filter-dropdown {
  .ant-btn-text,
  .ant-btn-link {
    color: var(--gray-light) !important;
  }

  .anticon-search {
    color: var(--gray-600) !important;
  }
}
