.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-bottom: 12px;
}

.card {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light);
  border-radius: 5px;
  padding: 24px 32px;
  -webkit-box-shadow: 0px 3px 8.3px 0.7px rgba(163, 93, 255, 0.35);
  box-shadow: var(--primary-box-shadow);

  .card-circle {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
  }
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 12px;

  .card-header {
    color: var(--gray);
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  }

  .card-number {
    position: relative;
    font-size: 7.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

    span {
      display: inline-block;
      position: absolute;
      font-size: 2.4rem;
      top: 10px;
      left: calc(100% + 4px);
    }
  }
}

.card-icon {
  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span svg {
    display: flex;
    font-size: 2.4rem;
    width: 80px;
    height: 100%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.card.humidity {
  &.normal {
    * {
      color: var(--light) !important;
    }

    background: -webkit-gradient(linear, left top, right top, from(#abc7ff), to(#c1e3ff)) !important;
    background: linear-gradient(to right, #abc7ff, #c1e3ff) !important;
  }

  &.semi-medium {
    * {
      color: var(--light) !important;
    }

    background: -webkit-gradient(linear, left top, right top, from(#6cacff), color-stop(99%, #8debff)) !important;
    background: linear-gradient(to right, #6cacff, #8debff 99%) !important;
  }

  &.medium {
    * {
      color: var(--gray-100) !important;
    }

    background: -webkit-gradient(linear, left top, right top, from(#5583ee), to(#41d8dd)) !important;
    background: linear-gradient(to right, #5583ee, #41d8dd) !important;
  }

  &.high {
    * {
      color: var(--light) !important;
    }

    background: -webkit-gradient(linear, left top, right top, from(#a16bfe), to(#deb0df)) !important;
    background: linear-gradient(to right, #a16bfe, #deb0df) !important;
  }
}

.card.temperature {
  &.normal {
    * {
      color: var(--light) !important;
    }

    background: -webkit-gradient(linear, left top, right top, from(#a16bfe), to(#deb0df)) !important;
    background: linear-gradient(to right, #a16bfe, #deb0df) !important;
  }

  &.semi-medium {
    * {
      color: var(--light) !important;
    }

    background: -webkit-gradient(linear, left top, right top, from(#d279ee), color-stop(99%, #f8c390)) !important;
    background: linear-gradient(to right, #d279ee, #f8c390 99%) !important;
  }

  &.medium {
    * {
      color: var(--gray-100) !important;
    }

    background: -webkit-gradient(linear, left top, right top, from(#f78fad), to(#fdeb82)) !important;
    background: linear-gradient(to right, #f78fad, #fdeb82) !important;
  }

  &.high {
    * {
      color: var(--light) !important;
    }

    background: -webkit-gradient(linear, left top, right top, from(#ffbf96), to(#fe7096)) !important;
    background: linear-gradient(to right, #ffbf96, #fe7096) !important;
  }
}

.card.brightness {
  &.normal {
    * {
      color: var(--light) !important;
    }

    background: -webkit-gradient(linear, left top, right top, from(#41c7af), to(#54e38e)) !important;
    background: linear-gradient(to right, #41c7af, #54e38e) !important;
  }

  &.semi-medium {
    * {
      color: var(--light) !important;
    }

    background: -webkit-gradient(linear, left top, right top, from(#d279ee), color-stop(99%, #f8c390)) !important;
    background: linear-gradient(to right, #d279ee, #f8c390 99%) !important;
  }

  &.medium {
    * {
      color: var(--gray-100) !important;
    }

    background: -webkit-gradient(linear, left top, right top, from(#f78fad), to(#fdeb82)) !important;
    background: linear-gradient(to right, #f78fad, #fdeb82) !important;
  }

  &.high {
    * {
      color: var(--light) !important;
    }

    background-color: #fad961;
    background: -webkit-gradient(linear, left top, right top, from(#fad961), to(#f76b1c)) !important;
    background: linear-gradient(to right, #fad961, #f76b1c) !important;
  }
}

// Dark mode
